<!DOCTYPE html>
<html>
<head>
    <title>文件上传</title>
    <meta charset="UTF-8">
    <style>
        #drop-area {
            width: 300px;
            height: 200px;
            border: 2px dashed #ccc;
            line-height: 200px;
            text-align: center;
            font-size: 24px;
            color: #999;
            margin: 20px auto;
        }
    </style>
</head>
<body>
<h1>文件上传</h1>

<div id="drop-area">
    将文件拖拽到此处上传
</div>

<input type="file" id="file-input" multiple>

<div id="ansDiv" style="display: none">
    <button id="fileDownload" onclick="downloadFile()">文件下载</button>
</div>
<script>
    var downLoadURL = "http://localhost:8081/file/download?filename=";
    var translateFileName = "1116028893787889665.txt";
    var dropArea = document.getElementById('drop-area');
    var fileInput = document.getElementById('file-input');

    dropArea.addEventListener('dragover', function(event) {
        event.preventDefault();
        dropArea.style.backgroundColor = '#e9e9e9';
    });

    dropArea.addEventListener('dragleave', function(event) {
        event.preventDefault();
        dropArea.style.backgroundColor = '';
    });

    dropArea.addEventListener('drop', function(event) {
        event.preventDefault();
        dropArea.style.backgroundColor = '';

        var files = event.dataTransfer.files;
        handleFiles(files);
    });

    fileInput.addEventListener('change', function(event) {
        var files = event.target.files;
        handleFiles(files);
    });

    function downloadFile() {
        console.log("下载文件名:" + translateFileName);
        url = downLoadURL + translateFileName;
        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.blob())
            .then(blob => {
                // 创建一个临时的下载链接
                const url = window.URL.createObjectURL(blob);

                // 创建一个隐藏的<a>元素进行下载
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = translateFileName; // 设置下载的文件名
                document.body.appendChild(a);

                // 触发点击事件进行下载
                a.click();

                // 清理临时链接和<a>元素
                window.URL.revokeObjectURL(url);
                document.body.removeChild(a);
            })
            .catch(error => {
                console.error('文件下载失败:', error);
            });
    }

    function handleFiles(files) {
        // 上传文件，隐藏下载按钮
        document.getElementById('ansDiv').style.display = 'none';
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            console.log('文件名:', file.name);
            console.log('文件大小:', file.size);
            console.log('文件类型:', file.type);

            // 创建 FormData 对象
            var formData = new FormData();
            // 添加文件到 FormData 对象中
            formData.append('file', file);

            // 创建 XMLHttpRequest 对象
            var xhr = new XMLHttpRequest();

            // 设置请求方法和 URL
            xhr.open('POST', 'http://localhost:8081/translate?language=en', true);
            // 发送 FormData 对象作为请求体
            xhr.send(formData);

            // 处理响应
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = xhr.responseText;
                        var responseJSON = JSON.parse(response);
                        console.log(response);
                        console.log("json为" + responseJSON);
                        console.log(responseJSON);
                        if (responseJSON['statusCode'] === 200) {
                            var msg = responseJSON['message'];
                            alert(msg);
                            // 解析成功，显示下载按钮
                            document.getElementById("ansDiv").style.display = 'block';
                            translateFileName = msg.split(":")[1];
                            console.log(translateFileName);
                        } else {
                            alert('文件解析失败，原因' + response['msg']);
                        }
                    } else {
                        alert('请求失败,原因' + xhr.status);
                    }
                }
            };
        }
    }
</script>
</body>
</html>
